<launch>
  <arg name="mav_name" default="iris_depth_camera_3"/>
  <arg name="gazebo_simulation" default="true" />
  <arg name="visualization" default="true"/>
  <arg name="frame_id" default="map" />
  <arg name="command_input" default="2" />
  <arg name="world_file_name"    default="simple_obstacle" />
  <arg name="world_path" default="$(find avoidance)/sim/worlds/$(arg world_file_name).world" />
  <arg name="pointcloud_topic" default="/camera_front/depth/points"/>
  
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find avoidance)/sim/models"/>   
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find avoidance)/sim/models"/>

  <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
  		<param name="mav_name" type="string" value="$(arg mav_name)" />
          <remap from="command/bodyrate_command" to="/mavros/setpoint_raw/attitude"/>
          <param name="ctrl_mode" value="$(arg command_input)" />
          <param name="enable_sim" value="$(arg gazebo_simulation)" />
          <param name="enable_gazebo_state" value="true"/>
  </node>

    <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
    <node pkg="tf" type="static_transform_publisher" name="tf_front_camera"
            args="0 0 0 -1.57 0 -1.57 fcu front_camera_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_right_camera"
            args="0 0 0 -3.14 0 -1.57 fcu right_camera_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_left_camera"
            args="0 0 0 0 0 -1.57 fcu left_camera_link 10"/>


  <include file="$(find avoidance)/launch/avoidance_sitl_mavros.launch" >
      <arg name="model" value="$(arg mav_name)"/>
      <arg name="world_path" value="$(arg world_path)" />
  </include>
  <include file="$(find mav_local_planner)/launch/firefly_mapping_planning.launch">
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="frame_id" default="$(arg frame_id)"/>
      <arg name="pointcloud_topic" default="$(arg pointcloud_topic)"/>
  </include>
  <group ns="$(arg mav_name)">
    <!-- Transforms -->
    <node pkg="tf" type="static_transform_publisher" name="world_odom_broadcaster" args="0 0 0 0 0 0 1 world map 100" />
  </group>
  <node pkg="tf" type="static_transform_publisher" name="world_odom_broadcaster2" args="0 0 0 0 0 0 1 world local_origin 100" />

  <group if="$(arg visualization)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find geometric_controller)/launch/config_file.rviz" />
  </group>

</launch>