<launch>
    <arg name="mav_name" default="iris"/>
    <arg name="command_input" default="2" />
    <arg name="gazebo_simulation" default="true" />
    <arg name="visualization" default="true"/>
    <arg name="log_output" default="screen" />
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="respawn_mavros" default="false" />
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
    
    <!-- UAV0 -->
    <group ns="uav0">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn_sdf.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
        <!-- Geometric Controller -->
        <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
            <remap from="command/bodyrate_command" to="mavros/setpoint_raw/attitude"/>
            <param name="ctrl_mode" value="$(arg command_input)" />
            <param name="enable_sim" value="$(arg gazebo_simulation)" />
            <param name="enable_gazebo_state" value="true"/>
            <param name="max_acc" value="10.0" />
            <param name="Kp_x" value="8.0" />
            <param name="Kp_y" value="8.0" />
            <param name="Kp_z" value="10.0" />
        </node>
        <!-- Trajectory publisher-->
        <node pkg="trajectory_publisher" type="trajectory_publisher" name="trajectory_publisher" output="screen">
            <param name="trajectory_type" value="1" />
            <param name="shape_omega" value="1.0" />
            <param name="initpos_z" value="1.0" />
            <param name="reference_type" value="2" />
        </node>
    </group>

    <!-- UAV1 -->
    <group ns="uav1">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="1"/>
        <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn_sdf.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
        <!-- Geometric Controller -->
        <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
            <remap from="command/bodyrate_command" to="mavros/setpoint_raw/attitude"/>
            <param name="ctrl_mode" value="$(arg command_input)" />
            <param name="enable_sim" value="$(arg gazebo_simulation)" />
            <param name="enable_gazebo_state" value="true"/>
            <param name="max_acc" value="10.0" />
            <param name="Kp_x" value="8.0" />
            <param name="Kp_y" value="8.0" />
            <param name="Kp_z" value="10.0" />
        </node>
        <!-- Trajectory publisher-->
        <node pkg="trajectory_publisher" type="trajectory_publisher" name="trajectory_publisher" output="screen">
            <param name="trajectory_type" value="1" />
            <param name="shape_omega" value="1.5" />
            <param name="initpos_z" value="2.0" />
            <param name="reference_type" value="2" />
        </node>
    </group>

    <group if="$(arg visualization)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find geometric_controller)/launch/multi_vehicle_config_file.rviz" />
    </group>
</launch>
