<launch>
  <arg name="mav_name" default="iris_depth_camera_3"/>
  <arg name="gazebo_simulation" default="true" />
  <arg name="visualization" default="true"/>
  <arg name="frame_id" default="local_origin" />
  <arg name="command_input" default="2" />
  <arg name="world_file_name"    default="simple_obstacle" />
  <arg name="world_path" default="$(find avoidance)/sim/worlds/$(arg world_file_name).world" />
  <arg name="pointcloud_topic" default="/camera_front/depth/points"/>
  
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find avoidance)/sim/models"/>   
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find avoidance)/sim/models"/>

  <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
  		<param name="mav_name" type="string" value="$(arg mav_name)" />
          <remap from="command/bodyrate_command" to="/mavros/setpoint_raw/attitude"/>
          <param name="ctrl_mode" value="$(arg command_input)" />
          <param name="enable_sim" value="$(arg gazebo_simulation)" />
          <param name="enable_gazebo_state" value="true"/>
  </node>

  <node pkg="trajectory_publisher" type="trajectory_publisher" name="trajectory_publisher" output="screen">
        <param name="trajectory_type" value="1" />
        <param name="shape_omega" value="1.2" />
        <param name="initpos_z" value="2.0" />
        <param name="max_acc" value="10.0" />
        <param name="Kpos_x" value="8.0" />
        <param name="Kpos_y" value="8.0" />
        <param name="Kpos_z" value="30.0" />
        <param name="reference_type" value="2" />
  </node>

  <include file="$(find avoidance)/launch/avoidance_sitl_mavros.launch" >
      <arg name="model" value="$(arg mav_name)"/>
      <arg name="world_path" value="$(arg world_path)" />
  </include>
  <include file="$(find mav_local_planner)/launch/firefly_mapping_planning.launch">
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="frame_id" default="$(arg frame_id)"/>
      <arg name="pointcloud_topic" default="$(arg pointcloud_topic)"/>
  </include>
  <group ns="$(arg mav_name)">
    <!-- Transforms -->
    <node pkg="tf" type="static_transform_publisher" name="world_odom_broadcaster" args="0 0 0 0 0 0 1 world odom 100" />
  </group>

  <group if="$(arg visualization)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find geometric_controller)/launch/config_file.rviz" />
  </group>

</launch>